<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css"/>
        <script src="./js/app.js"></script>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Mattoid Suri. It uses data from mapbox.com and darksky.net</p>
            <h2>About by {{name}}</h2>
        </div>        
        {{>footer}}
    </body>
</html>